.vs*

__pycache__
*.py[cod]

*.egg-info
.pytest_cache

.coverage
coverage.xml
htmlcov/

*.hdf5
*.png

# results
*.pdf
*.csv
*.kml

# input files
*.txt
*.ini
*.ork
!examples/*.txt
!examples/*.ini
!examples/*.ork
